<!DOCTYPE html>
{% extends 'base.html' %}
    {% block head_block %}
        <title>Diabohalt.ai</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            ul{
                list-style-type: none;
            }
        </style>
    {% endblock %}
    {% block bodyblock %}
    <div class="container">
        <div class="row" style="height:150px;"></div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <center>
                    <h1 style="color:green">DIABOHALT</h1>
                    <br>
                    <h4>Input the following for the preliminaries of diabetes</h4>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        {{forms1.as_p }}
                        <input type="submit" class="btn btn-success" value="Check your preliminaries for Diabetes">
                    </form>
                </center>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row"></div>
    </div>
    {% endblock %}